* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Tahoma";
  text-decoration: none;
}

body {
  background-color: var(--primary-bg);
  max-width: 100%;
}

p,
li,
h3 {
  color: var(--primary-white);
}

h2 {
  margin: 2rem 0;
  color: var(--text-yellow);
  text-align: center;
}

hr {
  margin: 0 0 2rem 0;
}
